<div id="tourBanner" style="background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(255, 78, 0, 0.3)), url('../../assets/banners/tour.webp');"></div>

<div class="tour-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Campus Tours</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <form action="">
                    <div class="form-group">
                        <input class="form-control" name="name" type="text" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="email" type="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="phone" type="text" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="date" type="date" placeholder="Date">
                    </div>
                    <div class="form-group">
                        <select name="time" class="form-control" >
                            <option value="" disabled selected>Visit Time</option> 
                            <option value="" >08:00 AM</option>  
                            <option value="" >08:30 AM</option>  
                            <option value="" >09:00 AM</option>  
                            <option value="" >09:30 AM</option>  
                            <option value="" >10:00 AM</option>  
                            <option value="" >10:30 AM</option>  
                            <option value="" >11:00 AM</option>  
                            <option value="" >11:30 AM</option>  
                            <option value="" >12:00 pm</option>  
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="submit" class="tour-form-btn form-control">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>