<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 animated fadeInUp">
                <div class="contact">
                    <h4>Contact </h4>
                    <p>+1-1111-222-333</p>
                    <p>90N Space St. Mars</p>
                    <p>Sector1, 16046</p>
                </div>
            </div>
            <div class="col-6 animated fadeInUp">
                <div class="links">
                    <a routerLink="about">About</a>
                    <a routerLink="enroll">Enroll</a>
                    <a routerLink="programs">Programs</a>
                    <a href="#">Financial Aid</a>
                    <a href="#">Request Tour</a>
                </div>
            </div>
        </div>
    </div>
</section>
