<div id="tutionBanner" style="background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(255, 78, 0, 0.3)), url('../../assets/banners/tution.jpg');"></div>

<div class="tution-wrapper text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Tution & Fees</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <tr>
                        <th>Cost</th>
                        <th>Fall</th>
                        <th>Winter</th>
                    </tr>
                    <tr>
                        <td>Tution</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Services</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Class Fee</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Room</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Meals</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Books</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$1999.99</td>
                        <td>$1999.99</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h1>Financial Aid</h1> 
                <h3>for financial aid assistance please call our financial aid office Mon-Fri 9am-5pm.</h3>
            </div>
        </div>
    </div>
</div>