<div id="aboutBanner" style="background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(255, 78, 0, 0.3)), url('../../assets/banners/about.webp');"></div>

<div class="about-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, accusamus illo eveniet vitae vel quisquam odit mollitia impedit commodi blanditiis, error quod iure, voluptatem saepe et vero aspernatur quaerat iusto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h3>Mission</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id inventore ex aliquid quibusdam voluptatum, nesciunt accusantium sit nobis, repellat vel eveniet reiciendis velit, eligendi aut recusandae voluptate rem quas laudantium!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <h3>Values</h3>
                <p><span>Integrity</span> - Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                <p><span>Teamwork</span> - Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                <p><span>Leadership</span> - Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                <p><span>Quality</span> - Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                <p><span>Excellence</span> - Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </div>
</div>