<section class="testimonials">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Graduate Testimonials</h2>
            </div>
        </div>
        <div class="row">
            <div class="testimonial col-12 col-md-4" *ngFor="let testimonial of testimonials">
                <h2>{{ testimonial.name }}</h2>
                <h3>{{ testimonial.major }}</h3>
                <p>{{ testimonial.quote }}</p>
            </div>
        </div>
    </div>
</section>
