@import "../../variables.scss";


.career{
    font-family: 'Dosis',sans-serif;
    background-color: $light-section-bg;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $mars-color;
    
    h2 {
        font-size: 40px;
        font-weight: 400;
    }

    h3 {
        margin-top: 35px;
        font-size: 30px;
        font-weight: 300;
    }

    a{
        margin-top: 40px;;
        border-radius: 15px;
        font-size: 1rem ;
        &:hover{
            color: $mars-color;
        }
    }
}

.why-nmu {
    font-family: 'Dosis', sans-serif;
    background-color: $mars-color;
    height: 100%;
    padding: 50px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 45px;
    }
    h3 {
        font-weight: 300;
        margin-top: 9px;
    }
    i {
        color: $mars-color;
    }
    .i-wrap {
        margin-top: 25px;
        font-size: 2rem;
        width: 2em;
        height: 2em;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.financial{
    font-family: 'Dosis', sans-serif;
    background-color: $light-section-bg;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $mars-color;

    h2 {
        font-size: 40px;
        font-weight: 400;
    }

    h3 {
        margin-top: 35px;
        font-size: 30px;
        font-weight: 300;
    }

    a{
        font-size: 1rem ;
        margin-top: 40px;;
        border-radius: 15px;
        &:hover{
            color: $mars-color;
        }
    }
}

.tour {
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px $mars-color;
    h2 {
        font-size: 40px;
        font-weight: 400;
    }

    h3 {
        margin-top: 35px;
        font-size: 30px;
        font-weight: 300;
    }

    a{
        background-color: rgba(255,255,255,0.9);
        color: $mars-color;
        font-size: 1rem ;
        margin-top: 40px;
        text-shadow: none;
        border-radius: 15px;
    }
}