<app-banner></app-banner>

<section class="career">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center animated fadeInUp">
                <h2>Your Career Starts Here</h2>
                <h3>Whatever your goals may be, the road starts on mars!</h3>
                <a href="#" class="btn" >view programs</a>        
            </div>
        </div>
    </div>
</section>

<section class="why-nmu">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="animated fadeInUp">Why NMU ?</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md-4 wow fadeInUp">
                <div class="i-wrap"><i class="fas fa fa-graduation-cap"></i></div>
                <h3>Guaranteed Success</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt tenetur nesciunt temporibus error! Ipsam quas dolores dolore doloremque itaque assumenda voluptates accusamus omnis, quia molestias nam repellat, eligendi cumque corrupti?</p>
            </div>
            <div class="col-12 col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="i-wrap"><i class="fa fas fa-hourglass-half"></i></div>
                <h3>Learn On Your Own Time</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque minima neque hic placeat in! Ipsa, alias assumenda nemo labore vel deleniti doloremque voluptate veniam dolorum dolores dolor sed rerum voluptas?</p>
            </div>
            <div class="col-12 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="i-wrap"><i class="fa fas fa-suitcase"></i></div>
                <h3>Career Placement</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia esse eos, voluptatem perspiciatis, maiores ipsum, iure officiis magnam ut voluptatum rerum ratione nihil et mollitia voluptate itaque rem. Unde, deserunt.</p>
            </div>
        </div>
    </div>
</section>

<section class="financial">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center animated fadeInUp">
                <h2>Need Help with Financial Aid ?</h2>
                <h3>we know its expensive to move to mars, we've got you covered !</h3>
                <a href="#" class="btn" >Tution / Cost</a>        
            </div>
        </div>
    </div>
</section>

<section class="tour" style="background-image: linear-gradient(rgba(0, 0, 0,0.2),rgba(255, 78, 0, 0.3)), url('../../../assets/building.png');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 text-center animated fadeInUp">
                <h2>Tour our Campus</h2>
                <h3>want to come check our campus sign up for one of the weekly tours, don't forget to bring your oxygen tank.</h3>
                <a href="#" class="btn" >Request a Tour</a>        
            </div>
        </div>
    </div>
</section>

<app-testimonials></app-testimonials>
